[package]
name = "domain"
version = "0.1.0"
edition = "2021"

[dependencies]
async-trait.workspace = true
serde.workspace = true
tokio.workspace = true
chrono.workspace = true
uuid.workspace = true
time.workspace = true
anyhow.workspace = true
